
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #e63232 !important;
    border-radius:20px !important;
    height:40px;
    padding-top:10px !important;
}

.navbar-default .navbar-nav > li > a {
    color: #f5f5f5 !important;
     height:40px;
    padding-top:10px !important;
}

.navbar-default {
    /* background-color: #f8f8f8; */
    /* border-color: #e7e7e7; */
    border-bottom: solid 3px #37d0e8 !important;
    background-color:#441a7b !important;
    /* border: solid; */
}
.headerText
{
    color:#72b1e6;
    font-size:35px;
    /*text-decoration:underline;*/
    border-bottom: solid 1px #0c2f67;
    font-family:Buxton Sketch !important;
}

.navbar-nav {
    float: right !important;
}

.navbar-brand {
  float: left;
  padding-left: 15px;
  padding-top: 3px;
  font-size: 18px;
  line-height: 20px;
}

/* ===========================
--- Footer
============================ */

footer {
	text-align: center;
	padding: 50px 0 ;
	
}

footer p {
	color: #f8f8f8;
}

footer a {
	color: #fefefe;
}

footer a:hover {
	color: #f8f8f8;
}

.footer
{
    /*position: fixed;*/
    /*bottom: 0px;*/
    height: 30px;
    width: 100%;
    background-color: #171717;
    color: white;
    text-align: center;
    font-size:12px;
    padding-top:2px;
    /*z-index:999;*/
}

/* Responsive */

@media (max-width: 767px) {
    .navbar-nav
    {
        margin-top: 10px !important;
        margin-right: 0px !important;
        border-bottom:3px #48b3c7 solid

    }
    .navbar-header
    {
        margin-top:20px;
              background-color:#412469 !important;
    }


    
}

@media (min-width: 768px) {
    .navbar-nav
    {
        margin-top: 20px !important;
         margin-right: 0px !important;
        
    }

     .navbar-header
    {
           background-color:#412469 !important;
        margin-top:20px;
        
    }
    

    
    
}

@media (min-width: 393px) {
    .navbar-nav
    {
      
        margin-top: 20px !important;
         margin-right: 0px !important;
       
    }

     .navbar-header
    {
           background-color:#412469 !important;
        margin-top:20px;
       
    }
    
}


/* carousel */
#quote-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px;
  text-align:center;
}
/* indicator position */
#quote-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -19px;
}
/* indicator color */
#quote-carousel .carousel-indicators li {
  background: #c0c0c0;
}
/* active indicator */
#quote-carousel .carousel-indicators .active {
  background: #333333;
  height:10px;
  width:10px;
  margin-bottom:1px;
}
/* typography */
h1 {
  text-align:center;
  margin-bottom:-20px !important;
}
p {
  font-style:italic;
}