@{
    ViewBag.Title = "Kshtriya Rathore Samaj";
}


<div class="form-group">
    <div class="row">
        <div class="col-md-12 headerText" style="text-align:center">
            वीर दुर्गा दास जी
        </div>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col-md-1 ">&nbsp; </div>
        <div class="col-md-4 col-sm-4" style="text-align:center">
            <img src="images/veer-durgadas.jpg" width="290" />
        </div>
        <div class="col-md-6 col-sm-6 ">
            <div class="row">
                <div class="col-md-12" style="font-size:17px">
                    मारवाड़ के शौर्यपुत्र दुर्गादास राठौड़ में अनेकानेक गुणों  का समावेश था। निर्भीकता, स्वामिभक्ति, त्याग, निर्लोभ भावना, सत्यता, सहिष्णुता, शीघ्र निर्णय, संगठन,वीरता, सर्वस्व न्यौछावर भावना, धर्मरक्षण, शरणागत वत्सलता, स्वाभिमानी, एवं राष्ट्रीयता के साथ उच्च चरित्र एवं निष्काम भावना जैसे अनेकों  प्रण उनके सामने थे और किसी रियासत का राजा न होकर एक साधारण सामन्त के नाते दुर्गादास राठौड़ ने अपने जीवन मे इन सभी  गुणों को एक साथ निभाया, यही उनके चरित्र की विशेषता रही । राजस्थान की भूमि वीर प्रसविनी वंसुधरा रही है  जिसमें मरुधरा का विशेष महत्व है । इसी तरह इसी तरह दुर्गादास का औरंगजेब के खिलाप किया गया दीर्घकालीन संघर्ष उनके चरित्र का एक गौरवपूर्ण अध्याय है ।।    औरंगजेब के अत्याचारों की कहानी से जनमानस संतप्त था,उस समय उसकी महान शक्ति से टक्कर लेकर भारतीय लोक जीवन के मनोबल को बनारे रखने में वीरदुर्गादास का तीस वर्ष  का लम्बा  संघर्ष अपने आप में एक आदर्श है ।वह संघर्ष सत्ता हथियाने के लिये प्राणोत्सर्ग करने का संकल्प नही था वरन अत्याचार के विरूद्ध अपने स्वल्प और स्वाभिमान की रक्षा करने का एक अनुपम अनुष्ठान था।। वीर दुर्गादास राठौड़ एक महानतम शक्ति सम्पन्न बादशाह के खिलाप  किया गया दीर्घकालीन संघर्ष निष्काम भावना से मात्र प्रण पालनार्थ किया गया संघर्ष था और इस लम्बै  संघर्ष में दुर्गादास राठौड़ की विजय ही नही हुई अपितू मुगल वंश की साम्राज्य सता का भी पराभव प्रारंभ हो गया
                </div>
            </div>
        </div>
        <div class="col-md-1 ">&nbsp; </div>

    </div>

    <br /><br />
    <div class="row">
        <div class="col-md-12 headerText" style="text-align:center">
            राठौर पदाधिपति
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"> </div>
        <div class="col-md-10" style="margin-top:40px;margin-left:40px;">

            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="images/posted/adhyaksha.jpg" class="col-md-12" />
                        </div>
                        <div class="panel-footer text-center" style="font-size:14px">
                            <b>श्री सनत राठौर </b><br />  अध्यक्ष  (राठौर समाज )
                        </div>
                    </div>

                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="images/posted/koshaadhyakash.jpg" class="col-md-12" />
                        </div>
                        <div class="panel-footer text-center" style="font-size:14px">
                            <b>श्री रामसागर राठौर </b><br />  कोषाध्यक्ष (राठौर समाज )
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="images/posted/rathoremahasachiv.jpg" class="col-md-12" />
                        </div>
                        <div class="panel-footer text-center" style="font-size:14px">
                            <b>श्री प्रशांत राठौर </b><br />  महामंत्री (राठौर समाज )
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12 headerText" style="text-align:center">
            क्षत्रिय राठौर युवा सभा छत्तीसगढ़ पदाधिपति
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"> </div>
        <div class="col-md-10" style="margin-top:40px;margin-left:40px;">

            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="images/posted/keshavRathore.jpg" class="col-md-12" />
                        </div>
                        <div class="panel-footer text-center" style="font-size:14px">
                            <b>श्री केशव सिंह राठौर जी </b><br /> अफरीद <br /> प्रदेश अध्यक्ष
                        </div>
                    </div>

                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="images/posted/kishorerathore.jpg" class="col-md-12" />
                        </div>
                        <div class="panel-footer text-center" style="font-size:14px">
                            <b>श्री राजकिशोर राठौर  </b><br /> बिलासपुर <br />  प्रदेश कोषाध्यक्ष
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="images/posted/DurgeshSinghRathore.jpg" class="col-md-12" />
                        </div>
                        <div class="panel-footer text-center" style="font-size:14px">
                            <b>श्री प्रशांत राठौर </b><br />  रायगढ  <br />प्रदेश सचिव 
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                </div>
            </div>
        </div>

    </div>

    <div class="row" style="padding-top:20px">
        <div class="col-md-12 headerText" style="text-align:center">
            विचार
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"> </div>
        <div class="col-md-10">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="carousel slide" data-ride="carousel" id="quote-carousel">

                            <!-- Bottom Carousel Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#quote-carousel" data-slide-to="1"></li>
                                <li data-target="#quote-carousel" data-slide-to="2"></li>
                            </ol>

                            <!-- Carousel Slides / Quotes -->
                            <div class="carousel-inner">

                                <!-- Quote 1 -->
                                <div class="item active">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p>
                                                &ldquo;छत्तीसगढ़  प्रमंडल में केशरिया, गली-गली लहराना होगा, समाज को जगाना होगा, युवाओं को आगे आना होगा।<br />
                                                फिर से बिखरे मोतियों को, मालों में फ़िरोना होगा, समाज को जगाना होगा, युवाओं को आगे आना होगा।। <br />
                                                अपने अतित को पहचानना होगा, वीर दुर्गा अमर की गाथा को गाना होगा, समाज को जगाना होगा, युवाओं को आगे आना होगा।।<br />
                                                जय राठौर का जब जय घोष होगा, गतौरा प्रमंडल उठ खड़ा होगा, समाज को जगाना होगा, युवाओं को आगे आना होगा।।&rdquo;
                                            </p>
                                            <small>
                                                <strong>
                                                    राकेश राठौर (सचिव) <br />
                                                    नगर इकाई बिलासपुर
                                                </strong>
                                            </small>
                                        </div>
                                    </div>
                                </div>

                                <!-- Quote 2 -->
                                <div class="item">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p>&ldquo;Vis lacus vel augue laoreet rutrum faucibus dolor auctor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.&rdquo;</p>
                                            <small><strong>Fringilla A., Vulputate Sit</strong></small>
                                        </div>
                                    </div>
                                </div>

                                <!-- Quote 3 -->
                                <div class="item">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p>&ldquo;Aenean lacinia bibendum nulla sed consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet fermentum.&rdquo;</p>
                                            <small><strong>Aenean A., Justo Cras</strong></small>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"> </div>
    </div>


</div>

<script>

    $(document).ready(function () {
        //carousel options
        $('#quote-carousel').carousel({
            pause: true, interval: 10000,
        });
    });
</script>
