
@{
    ViewBag.Title = "Index";
}


    <div class="row">
        <div class="col-md-12 headerText" style="text-align:center">
            राठौर इतिहास और जानकारी
        </div>
    </div>

    <div class="row" style="margin-top:20px">
        <div class="col-md-10 col-md-offset-1">
            राठौड़ एक सूर्यवंशी राजपूत कबीले हैं। इस वंश के लोग अपने आप को श्री राम के वंसज के रूप मे बताते हैं।  <br /><br />इतिहास के मुताबित,   राठौर कबीले के लोगो ने जोधपुर पर  सं ११९४ से १९४९ तक के ससान किया था जब तक के भारत को एक  देश के रूप एकत्रित नहीं किया गया था.
        </div>
    </div>


    <div class="row" style="padding-top:100px">
        <div class="col-md-12 headerText" style="text-align:center">
            प्रांतीय कार्यकर्ता
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-top:40px;">
            <div class="col-md-12" style="margin-top:10px;text-align:left;font-size:30px;color:#09186f">
                <u>  बिलासपुर</u>
            </div>
        </div>
    </div>
            <div class="row" style="padding-top:15px">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="images/posted/adhyaksha.jpg" class="col-md-12" />
                        </div>
                        <div class="panel-footer text-center" style="font-size:14px">
                            <b>श्री सनत राठौर </b><br />  अध्यक्ष  (राठौर समाज )
                        </div>
                    </div>

                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="images/posted/koshaadhyakash.jpg" class="col-md-12" />
                        </div>
                        <div class="panel-footer text-center" style="font-size:14px">
                            <b>श्री रामसागर राठौर </b><br />  कोषाध्यक्ष (राठौर समाज )
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="images/posted/rathoremahasachiv.jpg" class="col-md-12" />
                        </div>
                        <div class="panel-footer text-center" style="font-size:14px">
                            <b>श्री प्रशांत राठौर </b><br />  महामंत्री (राठौर समाज )
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                </div>
            </div>
       

  
<style>
    #Body {
        height: 150px;
    }
</style>

